<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>

  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>


      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="grayscale my-4">
          <h1 class="display-3">Welcome to Postly</h1>
          <p class="lead">An application for users to talk to each other.</p>
          <a href="#" class="btn btn-primary btn-lg">Sign up</a>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

          <section class="col-lg-4">
            <h4 class="card-title">Connect</h4>
            <p class="card-text">Find your friends.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Comment</h4>
            <p class="card-text">Talk to each other.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Explore</h4>
            <p class="card-text">Find new friends.</p>
          </section>

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->

      <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
